
<div class="carousel-container d-flex">
    
    <div class="slide-list">
        <div class="slide-track d-flex">
            <div class="slick-slide d-flex">
               <div class="imgBook d-flex ">
                    <div class="overlayBook one"></div>
                    <img src="https://salt.tikicdn.com/ts/tka/66/df/25/6e43d3e4efd2f56428db66e608912552.png" alt="">
               </div>
               <div class="information-book d-flex fd">
                    <h2>Giảm đến 35%</h2>
                    <div class="sponsor">
                        Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                    </div>
                    <div class="contain-relation-book d-flex">
                        <div class="relation-book">
                            <div class="sale">-30%</div>
                            <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                        </div>
                        <div class="relation-book">
                            <div class="sale">-30%</div>
                            <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                        </div>
                        <div class="relation-book">
                            <div class="sale">-30%</div>
                            <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                        </div>
                    </div>
               </div>
            </div>
            <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook two"></div>
                     <img src="https://vcdn.tikicdn.com/ts/seller/75/54/b1/a03027b4847ca9f07a63d9b89aff1487.jpg" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook three"></div>
                     <img src="https://salt.tikicdn.com/ts/tka/78/3f/3b/34adb5c26818c6160957a44ca7d6eeb5.jpg" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook four"></div>
                     <img src="https://vcdn.tikicdn.com/ts/seller/64/a9/d7/3e6845709ab17cd09f7ac90663d389f9.jpg" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook five"></div>
                     <img src="https://salt.tikicdn.com/ts/tka/2c/c2/3d/45ecd25aa1dc4110e22fcff437ba83a2.png" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook six"></div>
                     <img src="https://salt.tikicdn.com/ts/tka/66/df/25/6e43d3e4efd2f56428db66e608912552.png" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <!-- -------------------- -->
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook seven"></div>
                     <img src="https://vcdn.tikicdn.com/ts/seller/ca/97/4e/911902260246ad78a6a6a7e2ff220eb9.jpg" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
             <!-- ---------------------- -->
             <div class="slick-slide d-flex">
                <div class="imgBook d-flex ">
                     <div class="overlayBook eight"></div>
                     <img src="https://vcdn.tikicdn.com/ts/seller/a1/1b/84/7eb155d067a8b61d1275e046d6ba2cf2.png" alt="">
                </div>
                <div class="information-book d-flex fd">
                     <h2>Giảm đến 35%</h2>
                     <div class="sponsor">
                         Tài trợ bởi <span>Hiệu sách Nhã Nam </span>5/5
                     </div>
                     <div class="contain-relation-book d-flex">
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/f7/cc/86/823b2aca8b9f9d0791c5b9ba2781172e.jpg" alt="">
                         </div>
                         <div class="relation-book">
                             <div class="sale">-30%</div>
                             <img  src="https://salt.tikicdn.com/cache/280x280/ts/product/87/bf/e5/0f80a24b295a910062d3945491e9b767.jpg" alt="">
                         </div>
                     </div>
                </div>
             </div>
            
        </div>
    </div>
    <div appNextButton (click)="nextCurrentDot()" class="arrow-right">
        <img src="https://salt.tikicdn.com/ts/upload/6b/59/c2/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="">
    </div>
    <div  class="arrow-left"  appPrevButton  (click)="prevCurrentDot()">
        <img src="https://salt.tikicdn.com/ts/upload/6b/59/c2/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="">
    </div>
    <div class="slide-dots" appChooseDot >
        <div 
            class="dot" 
            *ngFor="let dot of dots; let i = index"
            [ngClass]="{'active': this.currentDot === i}"
            (click)="setCurrentDot(i)"
        ></div>
       
    </div>
   
</div>
