<header class="header d-flex">
    <div class="wrapper d-flex jf-b">
            <div class="logo">
                <img src="https://salt.tikicdn.com/ts/upload/c1/64/f7/4e6e925ea554fc698123ea71ed7bda26.png" alt="">
            </div>
            <div class="headerCenter d-flex fd ">
                <div class="contain-input-search d-flex al-c">
                    <img width="20" class="iconSearch" src="https://salt.tikicdn.com/ts/upload/33/d0/37/6fef2e788f00a16dc7d5a1dfc5d0e97a.png"/>
                    <input class="inputSearch" type="text" placeholder="Search...">
                    <div class="textSearch">Tìm kiếm</div>
                </div>
                <div class="key-word">
                    <span>khỏe đẹp</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                    <span>nhà cửa</span>
                </div>
            </div>
            <div class="headerRight fd d-flex">
                <div class="headerNavigation d-flex al-c">
                    <a routerLink="/" class="headerNavigationItem d-flex al-c">
                        <img class="iconLink" src="https://salt.tikicdn.com/ts/upload/b4/90/74/6baaecfa664314469ab50758e5ee46ca.png" alt="">
                        <span class="headerNavigationItemName">Home</span>
                    </a>
                    <a routerLink="/product" class="headerNavigationItem d-flex al-c">
                        <img class="iconLink" src="https://salt.tikicdn.com/ts/upload/41/28/7d/4713aa0d2855c5c770799f248692f0c5.png" alt="">
                        <span class="headerNavigationItemName">Product</span>
                    </a>
                    <div *ngIf="user;else notUser" class="headerNavigationItem d-flex al-c">
                        <img class="iconLink" src="https://salt.tikicdn.com/ts/upload/07/d5/94/d7b6a3bd7d57d37ef6e437aa0de4821b.png" alt="">
                        <span class="headerNavigationItemName">{{user.userExist.userName}}</span>
                        <ul class="user-data">
                            <li>Profile</li>
                            <li *ngIf="user.userExist.role === 'admin'">Admin</li>
                            <li (click)="logOut()">Logout</li>
                        </ul>
                    </div>
                    <ng-template #notUser  class="headerNavigationItem d-flex al-c">
                        <img class="iconLink" src="https://salt.tikicdn.com/ts/upload/07/d5/94/d7b6a3bd7d57d37ef6e437aa0de4821b.png" alt="">
                        <span class="headerNavigationItemName">Tài khoản</span>
                        <ul class="user-data">
                            <li>Profile</li>
                            <li>Admin</li>
                            <li>Logout</li>
                        </ul>
                    </ng-template>
                    <div class="divider"></div>
                    <div class="card-wrapper d-flex al-c">
                        <img class="iconLink" src="https://salt.tikicdn.com/ts/upload/51/e2/92/8ca7e2cc5ede8c09e34d1beb50267f4f.png" alt="">
                        <span class="card-counter">1</span>
                    </div>
                </div>
                <div class="location-ship d-flex">
                    <img width="20" src="https://salt.tikicdn.com/ts/upload/88/5c/9d/f5ee506836792eb7775e527ef8350a44.png" alt="">
                    <span class="ship-to">Giao đến:</span>
                    <a class="location" href="">Q. Hoàn Kiếm, P. Hàng Trống, Hà Nội</a>
                </div>
            </div>
        </div>
</header>
