.header{
    background-color: var(--main-color);
    padding: 1rem 0;
}
.logo{
    flex: 1;
}
.logo > img{
    width: 7.5rem;
    height: auto;
}
.headerCenter{
    flex: 6.5;
    justify-content: space-between;
    margin-left: 1rem;
}
.headerRight{
    flex: 3.5;
    justify-content: space-between;
}
.contain-input-search{
    width: 92%;
    padding:0.4rem 1.5rem;
    border-radius: 0.7rem;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    border: 1px solid rgb(221, 221, 227);


}
/* .iconSearch{
    flex: 2;
} */
.inputSearch{
    flex: 9;
    border: none;
    background-color: transparent;
    margin-left: 0.5rem;
    height: 2.7rem;
    border-right: 1px solid rgb(221, 221, 227);
    font-size: 1.4rem;

}
.contain-input-search:focus-within{
    border: 1px solid rgb(166, 166, 166);
}
.textSearch{
    flex: 1.3;
    color: var(--text-color);
    padding-left: 0.5rem;
    height: 100%;
    justify-content: center;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    cursor: pointer;
}
.key-word span{
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: rgb(128, 128, 137);
}
.headerRight{
    margin-left: 3rem;
}
.iconLink{
    width: 2.5rem;
}
.headerNavigationItem{
    padding: 0.7rem 1.3rem;
    

}
.headerNavigationItem:hover{
    background-color: rgba(39, 39, 42, 0.12);
    border-radius: 1rem;
    cursor: pointer;
}
.headerNavigationItemName{
    margin-left: 0.5rem;
    font-size: 1.45rem;
    color: rgb(128, 128, 137);
}
.divider{
    height: 60%;
    width: 1px ;
    background-color: rgb(221, 221, 227);
}
.card-wrapper{
    padding:0.7rem 1rem;
    position: relative;

}
.card-wrapper:hover{
    cursor: pointer;
    background-color: rgb(108, 164, 243);
}
.card-counter{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
    color: var(--main-color);
}