<div class="container-product">
    <div class="bread-crumb">
        Trang chủ 
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>
        {{product.name}}
    </div>
    <div class="contain-product-detail d-flex">
        <div class="information-product d-flex">
            <div class="contain-img-product">
                <img src={{product.img}} alt="">
            </div>
            <div class="information-text-product d-flex fd">
                <div class="detail-product-information block-product-detail d-flex fd">
                    <div class="brandAuthor d-flex al-c">
                        <img src="https://salt.tikicdn.com/ts/upload/d7/56/04/b93b8c666e13f49971483596ef14800f.png" alt="">
                        <div class="author">
                            Tác giả: <span class="name-author"> {{product.author}}</span>
                        </div>
                    </div>
                    <div class="name-product-detail">
                       {{product.name}}
                    </div>
                    <div class="ratingList d-flex al-c">
                        5.0 
                        <span class="star-rate d-flex">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#FFC400" style="color:#FFC400" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#FFC400" style="color:#FFC400" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#FFC400" style="color:#FFC400" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#FFC400" style="color:#FFC400" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#FFC400" style="color:#FFC400" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>

                        </span>
                        <div class="divided"></div>
                        <div class="sold">
                            Đã bán 5k+
                        </div>
                    </div>
                    <div class="contain-price d-flex al-c">
                        <div class="price">
                            {{product.price}}.000đ
                        </div>
                        <div class="discount">
                            -{{product.sale}}%
                        </div>
                    </div>
                </div>
                <div class="contain-ship block-product-detail">
                    <h3 class="title-block-product-detail">Thông tin vận chuyển</h3>
                    <p>Giao đến Q. Hoàn Kiếm, P. Hàng Trống, Hà Nội</p>
                </div>
                <div class="relate-product block-product-detail">
                    <h3 class="title-block-product-detail">Sản phẩm tương tự</h3>
                    <div class="list-relate-products">
                        <!-- ---------------- -->
                        <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/e5/9d/59/dbd5edb1dc02e0ad95a11774bd90a29a.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/50/d2/15/17f45ad195ff223292d6cb22c54b994d.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/fc/12/f7/8eeb4c61b7bf4b69cd9996830dcdf0da.png.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/8d/29/29/490efc263d378e74b63addbf3b81d93f.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/be/cb/5d/52de615c6e7b251e60970e072a0a1b42.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/39/8b/97/cad4e4ae9213f2acb0d06f184969fa4c.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/16/77/95/93ec5b9943f55c79cecb439b3b3106cd.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                         <!-- ---------------- -->
                         <div class="relate-product-item d-flex fd">
                            <div class="img-relate-product">
                                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/91/d3/d3/b261b3190395a7a5ae1afef43ed790f9.jpg.webp" alt="">
                            </div>
                            <div class="info-relate">
                                <div appEllipsis [maxLength]="20" class="name-product-relate">
                                    Chinh Phục Mục Tiêu (Tái Bản 2019)
                                </div>
                                <div class="price-relate-product">
                                    79.000₫
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-to-cart d-flex fd">
            <h3 class="title-block-product-detail">Số Lượng</h3>
            <div class="contain-quantity d-flex">
                <button class="subtraction d-flex al-c jf-c" (click)="subtractValueInput()">
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-remove.svg" alt="">
                </button>
                <input type="text" value={{valueInput}}>
                <button class="subtraction d-flex al-c jf-c" (click)=" addValueInput()">
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-add.svg" alt="">
                </button>
            </div>
            <h3 class="total-value-text title-block-product-detail">Tạm tính</h3>
            <span class="total-value"> {{this.priceInput}}.000đ</span>
            <button class="buy-now">Mua ngay</button>
            <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
    </div>
</div>
