<div class="block-sidebar">
    <h3>Danh mục sản phẩm</h3>
    <ul class="list-category">
        <li class="list-category-item">English Books</li>
        <li class="list-category-item">Sách tiếng Việt</li>
        <li class="list-category-item">Văn phòng phẩm</li>
        <li class="list-category-item">Quà lưu niệm</li>
    </ul>
</div>
<div class="block-sidebar service">
    <h3>Dịch vụ</h3>
    <ul class="list-category">
        <li class="list-category-item"><input type="checkbox"><span>Giao siêu tốc 2H</span></li>
        <li class="list-category-item"><input type="checkbox"><span>Thưởng thêm Astra </span></li>
        <li class="list-category-item"><input type="checkbox"><span>Trả góp 0%</span></li>
        <li class="list-category-item"><input type="checkbox"><span>Giảm sâu</span></li>
    </ul>
</div>
<div class="block-sidebar price">
    <h3>Giá</h3>
    <ul class="list-category">
        <li class="list-category-item">Dưới 40.000</li>
        <li class="list-category-item">40.000 -> 120.000</li>
        <li class="list-category-item">Văn phòng phẩm</li>
        <li class="list-category-item">Quà lưu niệm</li>
    </ul>
</div>
